body {
  width: 100%;
  height: 100vh;
  padding-top: 1px;
  box-sizing: border-box;
  margin: -1px 0px 0px;
  background: #fdfdfe;
}

p {
  display: block;
  margin: 0;
}

button {
  display: unset;
  font: unset;
  background: #ffffff;
  outline: none;
}

.bold {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: calc(0.7rem + 1vw);
}

.caption {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: calc(0.4rem + 1vw);
}

.button-text {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: calc(0.3rem + 1vw);
}

.card {
  position: relative;
  box-shadow: 2px 2px 24px -10px rgba(24, 50, 119, 0.3);
  background: #fdfdfe;
  border-radius: 0.6rem;
  overflow: hidden;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 18rem;
  margin: 10% auto;
}

.line {
  position: absolute;
  z-index: -1;
  top: 19.5%;
  width: 0;
  height: 0.2rem;
  background: #57c3ad;
  transition: width 5s ease-out;
}

.line-move {
  z-index: 10;
  width: 100%;
}

.title {
  color: rgba(0, 0, 0, 0.85);
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: rgba(0, 0, 0, 0.199);
}

.drop-file {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  margin: 10% auto 5% auto;
  width: 10rem;
  height: 7rem;
}

.drop-file-logo {
  margin-bottom: 4%;
  transform: scale(1);
  opacity: 18%;
}

.file-name {
  color: rgba(0, 0, 0, 0.6);
}

.browse-file {
  color: rgba(52, 167, 152, 0.6);
  border: unset;
  text-decoration: underline;
  border-radius: 1rem;
}

.button-container {
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin: auto;
  transition: opacity 0.2s ease-in-out;
}

.show {
  opacity: 1;
  z-index: 1;
}

.loader {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  opacity:0%;
  transition: opacity 0.2s ease-in-out;
}

.loader-show{
  position: relative;
  opacity: 100%;
}

.bounce-1,
.bounce-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 60%;
  background: #57c3ad;
  border-radius: 100%;
  animation: bounce 1s infinite ease-in-out;
}

.bounce-2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.done-button {
  border: 1px solid #008081;
  color: #008081;
  border-radius: 10rem;
  height: 1.3rem;
  width: 5rem;
  margin-left: 1rem;
}

.change-button {
  border: unset;
  text-decoration: underline;
  color: #008081;
}
