* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  margin: 1rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  color: rgb(44, 44, 46);
  border: none;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

span{
 display: block;
}

.caption {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: calc(0.4rem + 1vw);
}

.caption2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: calc(0.2rem + 1vw);
}

.fill {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(52, 199, 89);
}

.f1 {
  width: 100%;
  height: 5%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.f2 {
  width: 2rem;
  height: 2rem;
  opacity: 0;
  border-radius: 10rem;
  transition: all 0.5s ease-in-out;
}

.circle{
 border-radius: 100rem;
}

.b1:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.14);
  color: rgb(242, 242, 247);
}

.b1:hover .f1 {
  opacity: 1;
  height: 100%;
}

.b2:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.14);
  color: rgb(242, 242, 247);
}

.b2:hover .f2 {
  width: 15rem;
  height: 10rem;
  opacity: 1;
}

.b3:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.14);
  color: rgb(242, 242, 247);
}

.explode {
  animation-name: explode;
  animation-duration: 0.8s;
  /* animation-timing-function: ease-in-out; */
  animation-fill-mode: forwards;
}

.displode {
  animation-name: displode;
  animation-duration: 0.5s;
  /* animation-timing-function: ease-in-out; */
  animation-fill-mode: forwards;
}

@keyframes explode {
  0% {
    width: 0rem;
    height: 0rem;
    background-color: rgb(52, 199, 89, 0.2);
  }
  100% {
    width: 30rem;
    height: 30rem;
    background-color: rgb(52, 199, 89, 100);
  }
}

@keyframes displode {
  0% {
    width: 30rem;
    height: 30rem;
    background-color: rgb(52, 199, 89, 100);
  }
  100% {
    width: 0rem;
    height: 0rem;
    background-color: rgb(52, 199, 89, 0.2);
  }
}
